{embed="includes/head" my_page_title="About EAT"}

<style>
h1 {
	line-height: 1.2;
}
p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5;
}

</style>

<body>

{embed="includes/header"}

<div  class="container-fluid">
  <div class="row">
    <div id="cs-container" class="col-lg-8 col-lg-offset-2">
  		
  		<h1 class="spaceaftermd">DATE NIGHTS. DRINK SPECIALS.<br />EXCLUSIVE EVENTS. INSIDER DEALS.</h1>
  		
  		<p>EAT is built by people who love good food, excellent experiences and a great deal.</p>
  		
  		<p>Want to hype a new happy hour special, broadcast your craft brew list or get the word out about a special event? <strong style="color: #e7376e;">EatWilmingtonDE.com</strong> is the only place that gathers the menu, hours, location, events, and reviews of every eatery in town and finally answers the eternal question: <strong style="color: #e7376e;">what do you want to eat tonight?</strong>
  		
  		<p>Attract more customers with less complicated marketing by joining <strong style="color: #e7376e;">EatWilmingtonDE.com</strong> today &mdash; your first month's on the house.</p>
  		
  		<p>To get more information about getting listed, please email us at <a href="mailto:info@eatwilmingtonde.com" style="color: #e7376e;">info@eatwilmingtonde.com</a>.</p>
  			
    </div><!--END #cs-container-->
  </div><!--END .row-->
</div><!--END container-fluid-->

{embed="includes/footer"}