/* Smartphones (portrait and landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
/* Styles */

/*--------------------------------------------
MAIN
---------------------------------------------*/
#cs-container {
	background: #ffffff;
}

a#logo img {
	float: left;
	position: relative;
	top: 17px;
	width: 200px;	
	height: 28px;
}

/*--------------------------------------------
NAVIGATION
---------------------------------------------*/
ul#main-nav {
	display: none;
}

#mobile-nav {
	display: block;
	background: #8e9f57;
}

#mobile-nav ul li a, 
#mobile-nav ul li a:visited {
	font-size: 18px;
}

a.slideout-menu-toggle {
	float: right;
	margin: 11px 15px 0 0;
	font-size: 32px;
	color: #ffffff;
	display: block;
}

} 
 
/* Smartphones (landscape) --  --  --  --  -- - */
@media only screen
and (min-width : 321px) { 
/* Styles */

} 
 
/* Smartphones (portrait) --  --  --  --  -- - */
@media only screen
and (max-width : 320px) { 
/* Styles */
 
} 
   
/* iPads (portrait and landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
/* Styles */

/*--------------------------------------------
MAIN
---------------------------------------------*/
#cs-container {
	background: #ffffff;
}

/*--------------------------------------------
NAVIGATION
---------------------------------------------*/
ul#main-nav {
	display: none;
}

#mobile-nav {
	display: block;
	background: #8e9f57;
}

#mobile-nav ul li a, 
#mobile-nav ul li a:visited {
	font-size: 18px;
}

a.slideout-menu-toggle {
	float: right;
	margin: 12px 15px 0 0;
	font-size: 32px;
	color: #ffffff;
	display: block;
}

/*--------------------------------------------
HOME
---------------------------------------------*/

/* hero image */
img#hero-img {
	width: 100%;
	height: auto;
}

/* feature rows */
.feature-item {
	padding: 0 10px;
}

.feature-item img {
	position: relative;
	width: 100%;
	max-width: 400px;
	z-index: 1;
}

.feature-item h3 {
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	margin: -18px 0 0 0;
	padding: 5px 0;
	width: auto;
	max-width: 400px;
	text-align: center;
	color: #ffffff;
	background: #e7376e;
	z-index: 2;
}

/*--------------------------------------------
VENUE LISTING
---------------------------------------------*/
.venue-item {
	padding: 20px;
	border: 1px solid #C1C1C1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.venue-item h4 a, .venue-item h4 a:visited, .venue-item p a, .venue-item p a:visited {
	color: #8e9f57;
}

ul.social-links li {
	margin-bottom: 10px;
}

ul.social-links li:last-child {
	margin-bottom: 0;
}

ul.social-links li a {
	padding: 5px 10px;
	font-size: 12px;
	color: #ffffff;
	background: #e7376e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.social-links li a:hover {
	text-decoration: none;
	background: #EB88A7;
}

ul.tags li {
	margin-right: 3px;
	font-size: 10px;
	display: inline-block;
}

ul.tags li a, ul.tags li a:visited {
	padding: 5px 8px;
	color: #ffffff;
	background: #8e9f57;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


} 
 
 
/* IPADS (portrait) --  --  --  --  -- - */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
/* Styles */


}

/* IPADS (landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
/* Styles */


}